- Reference: [[nbjorner-HornClausesForSystemVerification.pdf]]

## Introduction

We make the overall claim that Constrained Horn Clauses provide a suitable ba-
sis for automatic program verification, that is, symbolic model checking

## Program Logics and Horn Clauses

Blass and Gurevich [15] made the case that *Existential positive* *Least Fixed-point Logic* (E+LFP) [[Glossary#6. **Existential positive Least Fixed-point Logic (E+LFP)**]] provides a logical match for Hoare logic: ==Partial correctness of simple procedural imperative programs correspond to satisfiability in E+LFP.==
